<a href="https://colab.research.google.com/github/raciel88p/learning-pandas/blob/main/Aggregation_y_groupby_con_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install --upgrade pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Collecting pandas
  Downloading pandas-1.3.5-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.3 MB)
     |████████████████████████████████| 11.3 MB 20.5 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.1.5
    Uninstalling pandas-1.1.5:
      Successfully uninstalled pandas-1.1.5
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas~=1.1.0; python_version >= "3.0", but you have pandas 1.3.5 which is incompatible.
Successfully installed pandas-1.3.5

In [ ]:
import pandas as pd
import numpy as np
pd.__version__

'1.3.5'

In [ ]:
pd.options.display.float_format = '{:,.3f}'.format #para cambiar el formato de los data frames
"""
Cuidado con los espacios afectan los datos como se despliegan
"""

'\nCuidado con los espacios afectan los datos como se despliegan\n'

In [ ]:
import seaborn as sns

In [ ]:
#creando un data frame o base de datos con tips o propinas
df = sns.load_dataset('tips')
df

     total_bill   tip     sex smoker   day    time  size
0        16.990 1.010  Female     No   Sun  Dinner     2
1        10.340 1.660    Male     No   Sun  Dinner     3
2        21.010 3.500    Male     No   Sun  Dinner     3
3        23.680 3.310    Male     No   Sun  Dinner     2
4        24.590 3.610  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239      29.030 5.920    Male     No   Sat  Dinner     3
240      27.180 2.000  Female    Yes   Sat  Dinner     2
241      22.670 2.000    Male    Yes   Sat  Dinner     2
242      17.820 1.750    Male     No   Sat  Dinner     2
243      18.780 3.000  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
#lo primero sera conocer nuestros datos
df.describe(include='all')

        total_bill     tip   sex smoker  day    time    size
count      244.000 244.000   244    244  244     244 244.000
unique         NaN     NaN     2      2    4       2     NaN
top            NaN     NaN  Male     No  Sat  Dinner     NaN
freq           NaN     NaN   157    151   87     176     NaN
mean        19.786   2.998   NaN    NaN  NaN     NaN   2.570
std          8.902   1.384   NaN    NaN  NaN     NaN   0.951
min          3.070   1.000   NaN    NaN  NaN     NaN   1.000
25%         13.348   2.000   NaN    NaN  NaN     NaN   2.000
50%         17.795   2.900   NaN    NaN  NaN     NaN   2.000
75%         24.127   3.562   NaN    NaN  NaN     NaN   3.000
max         50.810  10.000   NaN    NaN  NaN     NaN   6.000

In [ ]:
df['day'].value_counts()
""" cuantos dias hay registrados en la tabla"""

' cuantos dias hay registrados en la tabla'

In [ ]:
#si lo queremos ver por por % hay dividirlo entre ella misma y sumar sus valores y multiplicar por 100 para obtener su porcentaje
df['day'].value_counts() / df['day'].value_counts().sum() * 100
"""
Brinda es que el 35% de la base de datos corresponde a los dias Sat
"""

'\nBrinda es que el 35% de la base de datos corresponde a los dias Sat\n'

In [ ]:
#obtener las mediciones estadisticas por categorias
#calculeme el promedio del genero en la base de datos
df.groupby('sex').mean()

        total_bill   tip  size
sex
Male        20.744 3.090 2.631
Female      18.057 2.833 2.460

In [ ]:
#creando un nueva columna que se llama porcentaje de propina
df['prc_tips'] = df['tip']/df['total_bill']
df

     total_bill   tip     sex smoker   day    time  size  prc_tips
0        16.990 1.010  Female     No   Sun  Dinner     2     0.059
1        10.340 1.660    Male     No   Sun  Dinner     3     0.161
2        21.010 3.500    Male     No   Sun  Dinner     3     0.167
3        23.680 3.310    Male     No   Sun  Dinner     2     0.140
4        24.590 3.610  Female     No   Sun  Dinner     4     0.147
..          ...   ...     ...    ...   ...     ...   ...       ...
239      29.030 5.920    Male     No   Sat  Dinner     3     0.204
240      27.180 2.000  Female    Yes   Sat  Dinner     2     0.074
241      22.670 2.000    Male    Yes   Sat  Dinner     2     0.088
242      17.820 1.750    Male     No   Sat  Dinner     2     0.098
243      18.780 3.000  Female     No  Thur  Dinner     2     0.160

[244 rows x 8 columns]

In [ ]:
#vamos a volver a sacar el promedio del sexo
df.groupby('sex').mean()
#como en la columna anterior se creo un prc_tips 
#los mean son estimadores sesgados estadisticamente

        total_bill   tip  size  prc_tips
sex
Male        20.744 3.090 2.631     0.158
Female      18.057 2.833 2.460     0.166

In [ ]:
df.groupby('sex').median()

        total_bill   tip  size  prc_tips
sex
Male        18.350 3.000 2.000     0.153
Female      16.400 2.750 2.000     0.156

In [ ]:
#se puede aplicar un grupo de funciones
df.groupby('sex')[['total_bill', 'prc_tips']].describe()
#obtnemos los parametros descriptivos de la columna tips y por genero con 2 indices

       total_bill                            ... prc_tips
            count   mean   std   min    25%  ...      min   25%   50%   75%   max
sex                                          ...
Male      157.000 20.744 9.246 7.250 14.000  ...    0.036 0.121 0.153 0.186 0.710
Female     87.000 18.057 8.009 3.070 12.750  ...    0.056 0.140 0.156 0.194 0.417

[2 rows x 16 columns]

In [ ]:
#aplicando una funcion directamente
def mean_euro2dolars(x):
  return np.mean(x) * 1.12

In [ ]:
mean_euro2dolars(100)

112.00000000000001

In [ ]:
#podemos aplicar en el datafrmae anterior la funcion que escribimos
df.groupby('sex')[['total_bill', 'prc_tips']].apply(mean_euro2dolars)
#Hemos aplicado una nueva funcion que multiplica los datos de la tabla con 1.12 y transforma nuestras facturas a dolares

        total_bill  prc_tips
sex
Male        23.233     0.177
Female      20.224     0.186

In [ ]:
#podemos agrupar usando mas variables
df.groupby(['sex', 'day', 'smoker'])[['total_bill', 'prc_tips']].apply(mean_euro2dolars)

                    total_bill  prc_tips
sex    day  smoker
Male   Thur Yes         21.472     0.184
            No          20.705     0.186
       Fri  Yes         22.907     0.162
            No          19.572     0.155
       Sat  Yes         24.458     0.156
            No          22.321     0.182
       Sun  Yes         29.278     0.195
            No          22.852     0.177
Female Thur Yes         21.525     0.183
            No          17.936     0.175
       Fri  Yes         14.173     0.234
            No          21.689     0.185
       Sat  Yes         22.699     0.183
            No          21.284     0.166
       Sun  Yes         18.525     0.266
            No          23.323     0.186

In [ ]:
#podemos aplicar funciones definidas por nosotros o aplicar funciones definidas por numpy
df.groupby(['sex', 'day', 'smoker'])[['total_bill', 'prc_tips']].apply(np.std)
#calculamos la desbiacion estandar de la tabla anterior

                    total_bill  prc_tips
sex    day  smoker
Male   Thur Yes          6.411     0.043
            No           8.518     0.046
       Fri  Yes         10.237     0.037
            No           5.015     0.018
       Sat  Yes          9.801     0.050
            No           9.625     0.040
       Sun  Yes         10.331     0.157
            No           8.045     0.041
Female Thur Yes         10.042     0.029
            No           6.647     0.030
       Fri  Yes          3.595     0.038
            No           3.385     0.022
       Sat  Yes         10.130     0.073
            No           6.466     0.036
       Sun  Yes          4.204     0.104
            No           8.091     0.044

In [ ]:
#podemos definir nuetras propias funciones dentro de la llamada del mismo dataframe
df.groupby(['sex', 'day', 'smoker'])[['total_bill', 'prc_tips']].apply(lambda x: np.mean(x)*1.12)
#me gusta mas llamar la funcion por aparte

                    total_bill  prc_tips
sex    day  smoker
Male   Thur Yes         21.472     0.184
            No          20.705     0.186
       Fri  Yes         22.907     0.162
            No          19.572     0.155
       Sat  Yes         24.458     0.156
            No          22.321     0.182
       Sun  Yes         29.278     0.195
            No          22.852     0.177
Female Thur Yes         21.525     0.183
            No          17.936     0.175
       Fri  Yes         14.173     0.234
            No          21.689     0.185
       Sat  Yes         22.699     0.183
            No          21.284     0.166
       Sun  Yes         18.525     0.266
            No          23.323     0.186

In [ ]:
#aplicando mas de una funcion usamo aggregate
df.groupby(['sex', 'day', 'smoker'])[['total_bill', 'prc_tips']].aggregate([np.mean, np.max])

                   total_bill        prc_tips
                         mean   amax     mean  amax
sex    day  smoker
Male   Thur Yes        19.171 32.680    0.164 0.241
            No         18.486 41.190    0.166 0.266
       Fri  Yes        20.453 40.170    0.145 0.224
            No         17.475 22.490    0.138 0.156
       Sat  Yes        21.838 50.810    0.139 0.206
            No         19.929 48.330    0.162 0.292
       Sun  Yes        26.141 45.350    0.174 0.710
            No         20.403 48.170    0.158 0.242
Female Thur Yes        19.219 43.110    0.163 0.212
            No         16.014 34.830    0.156 0.209
       Fri  Yes        12.654 16.320    0.209 0.263
            No         19.365 22.750    0.165 0.188
       Sat  Yes        20.267 44.300    0.164 0.326
            No         19.004 35.830    0.148 0.199
       Sun  Yes        16.540 20.900    0.237 0.417
            No         20.824 35.260    0.166 0.253

In [ ]:
#aplicando funciones en una sola categoria y funcion igual con agg
df.groupby(['sex', 'day', 'smoker'])[['total_bill', 'prc_tips']].agg([np.mean, np.max])

                   total_bill        prc_tips
                         mean   amax     mean  amax
sex    day  smoker
Male   Thur Yes        19.171 32.680    0.164 0.241
            No         18.486 41.190    0.166 0.266
       Fri  Yes        20.453 40.170    0.145 0.224
            No         17.475 22.490    0.138 0.156
       Sat  Yes        21.838 50.810    0.139 0.206
            No         19.929 48.330    0.162 0.292
       Sun  Yes        26.141 45.350    0.174 0.710
            No         20.403 48.170    0.158 0.242
Female Thur Yes        19.219 43.110    0.163 0.212
            No         16.014 34.830    0.156 0.209
       Fri  Yes        12.654 16.320    0.209 0.263
            No         19.365 22.750    0.165 0.188
       Sat  Yes        20.267 44.300    0.164 0.326
            No         19.004 35.830    0.148 0.199
       Sun  Yes        16.540 20.900    0.237 0.417
            No         20.824 35.260    0.166 0.253

In [ ]:
#definiendo un dictionario, con un conjunto de funcion de tips min y maximo con factura total de un prodio y de dolares de un platillo
dict_agg = {'tip': [min, max], 'total_bill': [np.mean, mean_euro2dolars]}
dict_agg

{'tip': [<function min>, <function max>],
 'total_bill': [<function numpy.mean>, <function __main__.mean_euro2dolars>]}

In [ ]:
df.groupby(['sex', 'day', 'smoker'])[['total_bill', 'tip']].agg(dict_agg)

                     tip        total_bill
                     min    max       mean mean_euro2dolars
sex    day  smoker
Male   Thur Yes    2.000  5.000     19.171           21.472
            No     1.440  6.700     18.486           20.705
       Fri  Yes    1.500  4.730     20.453           22.907
            No     1.500  3.500     17.475           19.572
       Sat  Yes    1.000 10.000     21.838           24.458
            No     1.250  9.000     19.929           22.321
       Sun  Yes    1.500  6.500     26.141           29.278
            No     1.320  6.000     20.403           22.852
Female Thur Yes    2.000  5.000     19.219           21.525
            No     1.250  5.170     16.014           17.936
       Fri  Yes    1.000  4.300     12.654           14.173
            No     3.000  3.250     19.365           21.689
       Sat  Yes    1.000  6.500     20.267           22.699
            No     1.000  4.670     19.004           21.284
       Sun  Yes    3.000  4.000     16.540           18.525
            No     1.010  5.200     20.824           23.323

In [ ]:
#podemos definir filtros
def f_filter(x):
  return mean_euro2dolars(x['total_bill'].mean()) > 20

In [ ]:
df.groupby(['sex', 'time']).filter(f_filter)
#tener cuidado con () y vamos a obtener un datafram con filtro que nos brinda 249 elementos

     total_bill   tip     sex smoker   day    time  size  prc_tips
0        16.990 1.010  Female     No   Sun  Dinner     2     0.059
1        10.340 1.660    Male     No   Sun  Dinner     3     0.161
2        21.010 3.500    Male     No   Sun  Dinner     3     0.167
3        23.680 3.310    Male     No   Sun  Dinner     2     0.140
4        24.590 3.610  Female     No   Sun  Dinner     4     0.147
..          ...   ...     ...    ...   ...     ...   ...       ...
239      29.030 5.920    Male     No   Sat  Dinner     3     0.204
240      27.180 2.000  Female    Yes   Sat  Dinner     2     0.074
241      22.670 2.000    Male    Yes   Sat  Dinner     2     0.088
242      17.820 1.750    Male     No   Sat  Dinner     2     0.098
243      18.780 3.000  Female     No  Thur  Dinner     2     0.160

[209 rows x 8 columns]

In [ ]:
#validando nuestros datos
df_filter = df.groupby(['sex', 'time']).count()
df_filter

               total_bill  tip  smoker  day  size  prc_tips
sex    time
Male   Lunch           33   33      33   33    33        33
       Dinner         124  124     124  124   124       124
Female Lunch           35   35      35   35    35        35
       Dinner          52   52      52   52    52        52

In [ ]:
#extrallendo valor de variables categoricas
df

     total_bill   tip     sex smoker   day    time  size  prc_tips
0        16.990 1.010  Female     No   Sun  Dinner     2     0.059
1        10.340 1.660    Male     No   Sun  Dinner     3     0.161
2        21.010 3.500    Male     No   Sun  Dinner     3     0.167
3        23.680 3.310    Male     No   Sun  Dinner     2     0.140
4        24.590 3.610  Female     No   Sun  Dinner     4     0.147
..          ...   ...     ...    ...   ...     ...   ...       ...
239      29.030 5.920    Male     No   Sat  Dinner     3     0.204
240      27.180 2.000  Female    Yes   Sat  Dinner     2     0.074
241      22.670 2.000    Male    Yes   Sat  Dinner     2     0.088
242      17.820 1.750    Male     No   Sat  Dinner     2     0.098
243      18.780 3.000  Female     No  Thur  Dinner     2     0.160

[244 rows x 8 columns]

In [ ]:
#creando una columna que contiene numeros 1
df['ones'] = 1
df

     total_bill   tip     sex smoker   day    time  size  prc_tips  ones
0        16.990 1.010  Female     No   Sun  Dinner     2     0.059     1
1        10.340 1.660    Male     No   Sun  Dinner     3     0.161     1
2        21.010 3.500    Male     No   Sun  Dinner     3     0.167     1
3        23.680 3.310    Male     No   Sun  Dinner     2     0.140     1
4        24.590 3.610  Female     No   Sun  Dinner     4     0.147     1
..          ...   ...     ...    ...   ...     ...   ...       ...   ...
239      29.030 5.920    Male     No   Sat  Dinner     3     0.204     1
240      27.180 2.000  Female    Yes   Sat  Dinner     2     0.074     1
241      22.670 2.000    Male    Yes   Sat  Dinner     2     0.088     1
242      17.820 1.750    Male     No   Sat  Dinner     2     0.098     1
243      18.780 3.000  Female     No  Thur  Dinner     2     0.160     1

[244 rows x 9 columns]

In [ ]:
#vamos hacer grupos por sexo y fumadores
df_g = df.groupby(['sex', 'smoker'])[['ones']].sum()
df_g
#hemos echo un  grupo de quienes son sumadores entre sexos y quie no y sumado la todalidad de dicha grupo

               ones
sex    smoker
Male   Yes       60
       No        97
Female Yes       33
       No        54

In [ ]:
#convertir la tabla anterior en porcentajes
df_g.groupby(level=0).apply(
    
    lambda x:
    x / x.sum() * 100
)

#tranformar nuestra variables numericas a %

                ones
sex    smoker
Male   Yes    38.217
       No     61.783
Female Yes    37.931
       No     62.069

In [ ]:
#podemos transformar nuestras variables numericas en una variable categorica
df['bin_total'] = pd.cut(df['total_bill'], bins=[3, 18, 35, 60])
#cada uno de los varoles previamente definido en la tabla, va a quedar en una categoria
df
#como podemos ver cada uno de los valores se le asocia una categoria dentro de los valores 3, 18, 36 y 60

     total_bill   tip     sex smoker  ... size prc_tips  ones  bin_total
0        16.990 1.010  Female     No  ...    2    0.059     1    (3, 18]
1        10.340 1.660    Male     No  ...    3    0.161     1    (3, 18]
2        21.010 3.500    Male     No  ...    3    0.167     1   (18, 35]
3        23.680 3.310    Male     No  ...    2    0.140     1   (18, 35]
4        24.590 3.610  Female     No  ...    4    0.147     1   (18, 35]
..          ...   ...     ...    ...  ...  ...      ...   ...        ...
239      29.030 5.920    Male     No  ...    3    0.204     1   (18, 35]
240      27.180 2.000  Female    Yes  ...    2    0.074     1   (18, 35]
241      22.670 2.000    Male    Yes  ...    2    0.088     1   (18, 35]
242      17.820 1.750    Male     No  ...    2    0.098     1    (3, 18]
243      18.780 3.000  Female     No  ...    2    0.160     1   (18, 35]

[244 rows x 10 columns]

In [ ]:
#definiendo el ancho de las categorias utilizamos
pd.cut(df['total_bill'], bins=[3, 18, 35, 60]).value_counts()

(3, 18]     127
(18, 35]    101
(35, 60]     16
Name: total_bill, dtype: int64

In [ ]:
#sobre esa categoria podemos hacer groupby
df.groupby(['time', 'bin_total'])[['ones']].count()
#encontramos como  se  distribuye el tiempo del almuerzo y las comidas

                  ones
time   bin_total
Lunch  (3, 18]      45
       (18, 35]     21
       (35, 60]      2
Dinner (3, 18]      82
       (18, 35]     80
       (35, 60]     14

In [ ]:
#conviertiendoloe en %
df.groupby(['time', 'bin_total'])[['ones']].count().apply(
    
    lambda x:
    x / x.sum() * 100
)
#nos dic que el 18% de las facturas entran en las facturas entre 3 y 18

                   ones
time   bin_total
Lunch  (3, 18]   18.443
       (18, 35]   8.607
       (35, 60]   0.820
Dinner (3, 18]   33.607
       (18, 35]  32.787
       (35, 60]   5.738

In [ ]:
"""Aprendimos a extraer valor con la funcion gruop by"""

In [ ]:
#aprendiendo a estruturar mejor los data frames con pivot y melt
#aprendiendo a crear tablas dinamicas con pivot table
#nos permite extrar datos categoricos e informacion de nuestro data frame

In [ ]:
#traemos el data frame
df.groupby(['sex','time'])[['total_bill']].mean()

               total_bill
sex    time
Male   Lunch       18.048
       Dinner      21.461
Female Lunch       16.339
       Dinner      19.213

In [ ]:
df_gp2 = df.groupby(['sex','time'])[['total_bill']].mean().reset_index()
df_gp2

      sex    time  total_bill
0    Male   Lunch      18.048
1    Male  Dinner      21.461
2  Female   Lunch      16.339
3  Female  Dinner      19.213

In [ ]:
#creamos un tabla dinamica o un pivot table
df_gp2.pivot_table(values='total_bill', index='sex', columns='time' )
# a cambiado la table el sexo es el indice y las columnnas son los valores de tiempo

time    Lunch  Dinner
sex
Male   18.048  21.461
Female 16.339  19.213

In [ ]:
#esto permite generar operaciones estadisticas aca

In [ ]:
df.pivot_table(values='total_bill', index='sex', columns='time' )

time    Lunch  Dinner
sex
Male   18.048  21.461
Female 16.339  19.213

In [ ]:
#quiere decir que adentro hay una funcion que podes cambaiar o manipular segun las necesidades
df.pivot_table(values='total_bill', index='sex', columns='time', aggfunc=np.median )
#la funcion nos permite: calcular la media

time    Lunch  Dinner
sex
Male   16.580  19.630
Female 13.420  17.190

In [ ]:
#Tambien podemos agregar un diccionario o lista de funciones dentro del aggfunc la media y la deviacion estandar
df_pivot = df.pivot_table(values='total_bill', index='sex', columns='time', aggfunc=[np.median, np.std])
df_pivot

       median          std
time    Lunch Dinner Lunch Dinner
sex
Male   16.580 19.630 7.953  9.461
Female 13.420 17.190 7.501  8.202

In [ ]:
#vamos a deshacer las categorias del dataFrame
df_pivot.unstack()
#las columnas pasan hacer filas

        time    sex
median  Lunch   Male     16.580
                Female   13.420
        Dinner  Male     19.630
                Female   17.190
std     Lunch   Male      7.953
                Female    7.501
        Dinner  Male      9.461
                Female    8.202
dtype: float64

In [ ]:
#haciendo lo anterior un dataframe con
df_pivot.unstack().reset_index()

  level_0    time     sex      0
0  median   Lunch    Male 16.580
1  median   Lunch  Female 13.420
2  median  Dinner    Male 19.630
3  median  Dinner  Female 17.190
4     std   Lunch    Male  7.953
5     std   Lunch  Female  7.501
6     std  Dinner    Male  9.461
7     std  Dinner  Female  8.202