<a href="https://colab.research.google.com/github/raciel88p/learning-pandas/blob/main/ConcatenandoDataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"""
Concatenando Data Frames con concat y append

pegar 2 data frames
"""

'\nConcatenando Data Frames con concat y append\n\npegar 2 data frames\n'

In [2]:
!pip install --upgrade pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [3]:
import pandas as pd
import numpy as np
pd.__version__

'1.3.5'

In [4]:
pd.options.display.float_format = '{:.2f}'.format #los numeros en el proceso solo tengan 2 cifras decimales pandas

In [5]:
np.set_printoptions(precision=1) #los numeros en el proceso solo tengan 2 cifras decimales numpy

In [6]:
#Generando numeros aleatorios con numpy
numero_random1 = np.random.rand(2 , 5)*10
#randn genere numeros negativos y positivos
numero_random1

array([[9.8, 9.1, 5.5, 6.1, 9. ],
       [2.1, 0.5, 1.8, 5.2, 6.7]])

In [7]:
numero_random2  = np.random.rand(2 , 5)* -1
numero_random2

array([[-0.4, -0.2, -0.1, -0.9, -0.1],
       [-0.1, -1. , -0.8, -0.4, -0.1]])

In [8]:
#numpy puede concatenar matrices
np.concatenate([numero_random1, numero_random2]) #concatenando matrices con una lista

array([[ 9.8,  9.1,  5.5,  6.1,  9. ],
       [ 2.1,  0.5,  1.8,  5.2,  6.7],
       [-0.4, -0.2, -0.1, -0.9, -0.1],
       [-0.1, -1. , -0.8, -0.4, -0.1]])

In [9]:
np.concatenate([numero_random1, numero_random2]).shape

(4, 5)

In [10]:
#concatenado tambi√©n al eje de las columnas
np.concatenate([numero_random1, numero_random2], axis=1)

array([[ 9.8,  9.1,  5.5,  6.1,  9. , -0.4, -0.2, -0.1, -0.9, -0.1],
       [ 2.1,  0.5,  1.8,  5.2,  6.7, -0.1, -1. , -0.8, -0.4, -0.1]])

In [11]:
#viendo las dimenciones del objeto anterior
np.concatenate([numero_random1, numero_random2], axis=1).shape

(2, 10)

In [12]:
#haciendo todo lo anterior con pandas de concatenacion de vectores y matrices con pandas
variable_pandas = pd.Series(numero_random1[0], numero_random2[1])
variable_pandas

-0.13   9.79
-0.98   9.13
-0.81   5.55
-0.41   6.10
-0.10   8.96
dtype: float64

In [13]:
#crear una nueva variable para hacer lo mismo con pandas
serie1 = pd.Series(numero_random1[0], index=['a', 'b', 'c', 'd', 'e'])
#generaos una seria con 5 elementos
serie1

a   9.79
b   9.13
c   5.55
d   6.10
e   8.96
dtype: float64

In [14]:
#creando otra seria de elementos 
serie2 = pd.Series(numero_random2[0], index=['c', 'g', 'h', 'e', 'j'])
#generaos una seria con 5 elementos
serie2

c   -0.38
g   -0.16
h   -0.15
e   -0.94
j   -0.09
dtype: float64

In [15]:
#concatenando los series 1  y 2
pd.concat([serie1, serie2], axis=1) #con axis cambiamos el comportamiento
# se van a concatenar a lo largo de las filas

     0     1
a 9.79   NaN
b 9.13   NaN
c 5.55 -0.38
d 6.10   NaN
e 8.96 -0.94
g  NaN -0.16
h  NaN -0.15
j  NaN -0.09

In [16]:
#como en las serie1 y serie1 se repiten los indice por eso da el error de NaN
#si el objetivo es concatenar 2 series a lo largo de los ejes de las columnas sin respetar el indice lo que tenemos que hacer es resetear el indice
serie1.reset_index(drop=True) #drop = true hace que los indices salgan enumerados del 0 al 4
#reiniciamos el indice previamente definido

0   9.79
1   9.13
2   5.55
3   6.10
4   8.96
dtype: float64

In [17]:
#creamos de nuevo nuestra concatenacion
pd.concat([serie1.reset_index(drop=True), serie2.reset_index(drop=True)], axis=1)
#nueva concatenacion de ambas variables sin respetar el indice

     0     1
0 9.79 -0.38
1 9.13 -0.16
2 5.55 -0.15
3 6.10 -0.94
4 8.96 -0.09

In [18]:
#concatenando data frames 
#creamos el data frame a continuacion
data_1 = pd.DataFrame(np.random.rand(3, 2)*10, columns=['a','b'])
data_1

     a    b
0 6.21 6.71
1 6.02 4.06
2 8.34 7.00

In [19]:
data_2 = pd.DataFrame(np.random.rand(3, 2)*-1, columns=['a','b'], index=['2', '3', '4'])
data_2

      a     b
2 -0.97 -0.92
3 -0.05 -0.49
4 -0.46 -0.51

In [20]:
#concatenando un data frame en pandas
pd.concat([data_1, data_2])

      a     b
0  6.21  6.71
1  6.02  4.06
2  8.34  7.00
2 -0.97 -0.92
3 -0.05 -0.49
4 -0.46 -0.51

In [21]:
#Concatenando a lo largo de las columnas
pd.concat([data_1, data_2], axis=1)

     a    b     a     b
0 6.21 6.71   NaN   NaN
1 6.02 4.06   NaN   NaN
2 8.34 7.00   NaN   NaN
2  NaN  NaN -0.97 -0.92
3  NaN  NaN -0.05 -0.49
4  NaN  NaN -0.46 -0.51

In [22]:
#haciendo la concatenacion  de 2 data frames pero haciendo solo enfasis a 1 columna
pd.concat([data_1, data_2], axis=1, join='inner')
#le indice que compar los 2 data frames

Empty DataFrame
Columns: [a, b, a, b]
Index: []

In [23]:
#concatenar 2 data frames sin respetar los indices
pd.concat([
           data_1.reset_index(drop=True), 
           data_2.reset_index(drop=True)
           ], axis=1)

     a    b     a     b
0 6.21 6.71 -0.97 -0.92
1 6.02 4.06 -0.05 -0.49
2 8.34 7.00 -0.46 -0.51

In [24]:
#uniendo 2 data frames con la funcion append
data_1.append(data_2).append(data_2)

      a     b
0  6.21  6.71
1  6.02  4.06
2  8.34  7.00
2 -0.97 -0.92
3 -0.05 -0.49
4 -0.46 -0.51
2 -0.97 -0.92
3 -0.05 -0.49
4 -0.46 -0.51

In [25]:
#haciendo un append a lo largo de las comlumnas
#utilizamos una traspuesta
data_1.T
#invertir donde esa las columnas y row

     0    1    2
a 6.21 6.02 8.34
b 6.71 4.06 7.00

In [26]:
data_1.T.append(data_2.T).T

     a    b     a     b
0 6.21 6.71   NaN   NaN
1 6.02 4.06   NaN   NaN
2 8.34 7.00   NaN   NaN
2  NaN  NaN -0.97 -0.92
3  NaN  NaN -0.05 -0.49
4  NaN  NaN -0.46 -0.51

In [27]:
#merge de dataFrames es bueno cuando se tienen columnas en comun